#skills {
    font-family: 'Poppins', sans-serif;
    padding: auto;
    margin: auto 0 150px 0;
}

.skill_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.skill_heading > h4 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

.skill_heading > p {
    font-size: 1rem;
    color: #666;
}

.skill_contants {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}

.skill_block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20%;
    border-radius: 20px;
    box-shadow: 2px 6px 8px rgb(51, 50, 50);
    padding: 20px;
    width: auto;
}

.skill_list {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.column_list > div {
    margin: 30px;
}

.block_heading {
    align-self: center;
    margin-bottom: 20px;
}

.skill_title {
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 825px) {
    #skill {
        margin-top: 40px;
    }
    
    .skill_block {
        justify-self: center;
        align-items: center;
        margin: 20px;
        width: auto;
    }
    
    .skill_list {
        gap: 20px;
    }
    
    .skill_contants {
        justify-content: center;
        flex-wrap: wrap;
    }

}


@media screen and (max-width: 400px) {
    .skill_list {
        flex-wrap: wrap;
        gap: 0;
    }
    .skill_contants {
        justify-content: center;
        margin: auto;
    }
}
